.footer {
	color: $text-light;
	background-color: $light-grey;
}

	.footer__links {
		padding: 5%;
		overflow: hidden;
	}

		.footer__section {
			width: 100%;

			@media screen and (min-width: 768px) {
				width: 25%;
				float: left;
			}
		}

			.footer__title {
				width: 90%;
				font-family: nexa_bd;
				text-transform: uppercase;
				padding-bottom: .2em;
				border-bottom: 1px solid $text-light;
			}

			.footer__link {
				display: block;
				padding:1.5em 0 0;
			}

	.footer__credits {
		background: $text;
		padding: 40px;

		span {
			display: block;

			@media screen and (min-width: 768px) {
				display: inline-block;

				+ span {
					margin-left: 1em;
				}
			}
		}

		a {
			color: #fff;
		}
	}