@font-face {
    font-family: 'archive';
    src: url('../../fonts/archive-webfont.eot');
    src: url('../../fonts/archive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/archive-webfont.woff2') format('woff2'),
         url('../../fonts/archive-webfont.woff') format('woff'),
         url('../../fonts/archive-webfont.ttf') format('truetype'),
         url('../../fonts/archive-webfont.svg#archiveregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa_bd';
    src: url('../../fonts/nexa_bold-webfont.eot');
    src: url('../../fonts/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/nexa_bold-webfont.woff2') format('woff2'),
         url('../../fonts/nexa_bold-webfont.woff') format('woff'),
         url('../../fonts/nexa_bold-webfont.ttf') format('truetype'),
         url('../../fonts/nexa_bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexa_lt';
    src: url('../../fonts/nexa_light-webfont.eot');
    src: url('../../fonts/nexa_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/nexa_light-webfont.woff2') format('woff2'),
         url('../../fonts/nexa_light-webfont.woff') format('woff'),
         url('../../fonts/nexa_light-webfont.ttf') format('truetype'),
         url('../../fonts/nexa_light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexa_bk';
    src: url('../../fonts/nexa_book-webfont.eot');
    src: url('../../fonts/nexa_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/nexa_book-webfont.woff2') format('woff2'),
         url('../../fonts/nexa_book-webfont.woff') format('woff'),
         url('../../fonts/nexa_book-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}