/*------------------------------------*\
    #BRAND
\*------------------------------------*/
$primary: #4bc5cf;
$secondary: #a24bcf;
$tertiary: #4b79cf;
$text: #494949;
$text-light: #9b9b9b;
$text-lighter: #d2d2d2;

$light-grey: #f5f5f5;


/*------------------------------------*\
    #COLOR
\*------------------------------------*/
$base--text-color:      $text;
$base--link-color:      $primary;


/*------------------------------------*\
    #TYPE
\*------------------------------------*/

@mixin font-size($size-value: 16) {
  font-size: $size-value + px;
  font-size: ($size-value / 16) + rem;
}

// Fonts

$zetta-size: 240;
$exa-size: 180;
$peta-size: 140;
$tera-size: 128;
$giga-size: 80;
$mega-size: 70;
$kilo-size: 60;
$hecto-size: 50;
$h1-size: 40;
$h2-size: 30;
$h3-size: 20;
$h4-size: 17;
$h5-size: 14;
$h6-size: 12;