@import 'vars';
@import 'normalize';

@import 'patterns/fonts';
@import 'patterns/typography';
@import 'patterns/animations';

@import 'components/header';
@import 'components/nav';
@import 'components/area';
@import 'components/posts';
@import 'components/footer';
@import 'components/buttons';

@import 'patterns/helper';


.main {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	z-index: 0;
	transform: translateZ(0);
}


.icon {
	display: inline-block;
	vertical-align: bottom;
	
	svg {
		height: 1em;
		width: 1em;
		margin-right: .5em;
	}
}

svg {
	.svg--purple & {
		fill: $secondary;
	}
	.svg--aqua & {
		fill: $primary;
	}
}