@import 'vars';
@import 'normalize';

@import 'patterns/fonts';
@import 'patterns/typography';



html,
body {
	height: 100%;
}

img {
	max-width: 100%;
}

canvas {
	display: block;
	vertical-align: bottom;
	position: absolute;
	top: 0;
	left: 0;
}

#particles-js {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(230deg, $secondary, $tertiary, $primary);
  background-size: 150% 150%;
  animation: MoveBG 60s ease infinite;
}

@keyframes MoveBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}




header {
	width: 100%;
	padding-top: 20%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	transform: translateZ(0);
	will-change: transform;

	@media screen and (min-width: 768px) {
		padding-top: 30%;
	}
}

.site-logo {
	width: 100%;
	margin: 0;
	text-align: center;
	position: absolute;
	top: 50%;
	color: #fff;
	font-family: archive;
	font-size: 10vw;
	transform: translate(0, -50%) translateZ(0);
	will-change: transform;
}

.main {
	width: 100%;
	/*margin-top: 20%;*/
	position: relative;
	top: 0;
	left: 0;
	z-index: 0;
	transform: translateZ(0);
	/*overflow-y: scroll;
	-webkit-overflow-scrolling: touch;*/

	@media screen and (min-width: 768px) {
		/*margin-top: 10%;*/
	}
}

.area {
	background-color: #fff;
	margin: 20% auto 0;

	@media screen and (min-width: 768px) {
		margin: 30% auto 0;
	}
}

	.area__inner {
		max-width: 1200px;
		width: 80%;
		padding: 10% 0;
		/*@TODO should 150px be a percentage? */
		margin: 0 auto;
		position: relative;
	}

.post {

	@media screen and (min-width: 768px) {
		display: table;
	}

	+ .post {
		margin-top: 5%;
		padding-top: 5%;
		border-top: 1px solid $light-grey;
	}
}

	.post__date {
		font-family: nexa_bd;
		color: $text-light;

		@media screen and (min-width: 768px) {
			display: table-cell;
			vertical-align: top;
			text-align: right;
			
			span {
				width: 4em;
				display: block;
			}
		}

	}

	.post__info {

		@media screen and (min-width: 768px) {
			display: table-cell;
			vertical-align: top;
			padding-left: 3%;
		}
	}

		.post__title {
			line-height: .9;
		}

		.post__excerpt {
			display: none;

			@media screen and (min-width: 768px) {
				display: block;
				margin-top: 1.5em;
			}
		}
		
		.post__details {
			margin-top: 1.5em;
		}


.site-footer {
	background: linear-gradient(230deg, $primary, $tertiary, $secondary );
	background-size: 150% 150%;
	animation: MoveBG 60s ease infinite;
	color: #fff;
	padding: 5%;
}

.menu-toggle {
	height: 2vw;
	width: 2vw;
	position: fixed;
	top: 0;
	right: 0;
	padding: 1.5vw;
	z-index: 20;
	cursor: pointer;
}